<form action "/new" method = "post" id = "create_form">
  <label for = "name" class = "create_form_label" >Name</label>
  <input type ="text" name = "name" class = "form_input"/><br>

  <label for = "name" class = "create_form_label">Location</label>
  <input type ="text" id = "location" name = "location" class = "form_input"/><br>

  <textarea name = "description" id="description" rows = "4" cols = "100" placeholder = "Description"></textarea><br>

  <input type="submit" value="Make Meetup!" class = "submit">
</form>
