<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meetups</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>
<body>

<div class="top-bar">
  <div id = "top">
    <div id = "home"><a href="/">Meetups... in Space!</a></div>

    <div class="top-bar-section">
    <ul class= "nav_items">
    <li><a href="/new"> New</a></li>
      <% if signed_in? %>
        <li><a href="/sign_out">Sign out</a></li>
      <% else %>
        <li><a href="/auth/github">Sign in</a></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<%= if signed_in? then "<div id = \"current_user\">#{current_user.username}</div>" end%>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
